<%= form_tag("/users", method: "post") do %>
    <div class="form_tag_form">
        <%= label_tag(:username, "Username:") %>
        <%= text_field(:user, :username) %>
    </div>
    <div class="form_tag_form">
        <%= label_tag(:password, "Password:") %>
        <%= password_field(:user, :password) %>
    </div>
    <div class="form_tag_form">
        <%= label_tag(:email, "Email:") %>
        <%= email_field(:user, :email) %>
    </div>
    <div class="form_tag_form">
        <%= submit_tag("Submit") %>
    </div>
<% end %>