<%= form_with model: @user do |form| %>
    <div class="form_with">
        <%= form.label :username, "Username:" %>
        <%= form.text_field :username %>
    </div>
    <div class="form_with">
        <%= form.label :password, "Password:" %>
        <%= form.password_field :password %>
    </div>
    <div class="form_with">
        <%= form.label :email, "Email:" %>
        <%= form.email_field :email %>
    </div>
    <div class="form_with">
        <%= form.submit %>
    </div>
<% end %>